<!--
  Generated template for the ShippingOrders page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>shippingOrders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-segment [(ngModel)]="shipsView" color="secondary">
        <ion-segment-button value="Vessel">
          Vessel
        </ion-segment-button>
        <ion-segment-button value="Voyage">
          Voyage
        </ion-segment-button>
        <ion-segment-button value="Position">
          Position
        </ion-segment-button>
        <ion-segment-button value="Documents">
          Documents
          </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="shipsView">

          <ion-list *ngSwitchCase="'Vessel'">
                <ion-grid>
                  <ion-row>
                    <ion-col col-5>Ship Name</ion-col>
                    <ion-col col-7 >{{ShipName}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Ship ID</ion-col>
                    <ion-col col-7 >{{id}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Ship IMO</ion-col>
                    <ion-col col-7 > {{ShipIMO}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Ship MMSI</ion-col>
                    <ion-col col-7 > {{MMSI}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Ship Type</ion-col>
                    <ion-col col-7 > {{TypeName}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Year Built</ion-col>
                    <ion-col col-7 > {{YearBuilt}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>AIS_TYPE_SUMMARY</ion-col>
                    <ion-col col-7 > {{AIS_TYPE_SUMMARY}}</ion-col>
                  </ion-row>
                    <ion-row>
                    <ion-col col-5>Destination</ion-col>
                    <ion-col col-7 > {{Destination}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Year Built</ion-col>
                    <ion-col col-7 > {{YearBuilt}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12 ><button ion-button block color="navbarColor" (click)="click_View_gallery()">View Gallery</button></ion-col>
                  </ion-row>
                </ion-grid>
          </ion-list>
          <ion-list *ngSwitchCase="'Voyage'">

                <ion-grid>
                  <ion-row>
                    <ion-col col-5>Destination</ion-col>
                    <ion-col col-7 >{{Destination}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Calculated ETA</ion-col>
                    <ion-col col-7 >{{ETA_CALC}}</ion-col>
                  </ion-row> 
                  <ion-row>
                    <ion-col col-5>Reported ETA</ion-col>
                    <ion-col col-7 >{{ETA}} </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Updated ETA</ion-col>
                    <ion-col col-7 >{{ETA_UPDATED}} </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Current Port Country</ion-col>
                    <ion-col col-7 >{{CURRENT_PORT_COUNTRY}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Current Port ID</ion-col>
                    <ion-col col-7 >{{CURRENT_PORT_ID}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Next Port Country</ion-col>
                    <ion-col col-7 >{{NEXT_PORT_COUNTRY}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Next Port ID</ion-col>
                    <ion-col col-7 >{{NEXT_PORT_ID}}</ion-col>
                  </ion-row>
                   <ion-row>
                    <ion-col col-5>Last Port Country</ion-col>
                    <ion-col col-7 >{{LAST_PORT_COUNTRY}} </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Last Port ID</ion-col>
                    <ion-col col-7>{{LAST_PORT}} </ion-col>
                  </ion-row>
                   <ion-row>
                    <ion-col col-5>Average Speed</ion-col>
                    <ion-col col-7 >{{AVG_SPEED}} </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Max Speed</ion-col>
                    <ion-col col-7 >{{MAX_SPEED}} </ion-col>
                  </ion-row>
                </ion-grid>

          </ion-list>
          <ion-list *ngSwitchCase="'Position'">
              <ion-grid>
                  <ion-row>
                    <ion-col col-5>Latitude</ion-col>
                    <ion-col col-7>{{LONG}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Longitude</ion-col>
                    <ion-col col-7 >{{Lat}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Area</ion-col>
                    <ion-col col-7 > </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>Speed / Course</ion-col>
                    <ion-col col-7>{{AVG_SPEED}} / {{COURSE}} </ion-col>
                  </ion-row>
                   <ion-row>
                    <ion-col col-5>Max speed</ion-col>
                    <ion-col col-7>{{MAX_SPEED}} </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-list>
          <ion-list *ngSwitchCase="'Documents'">

            <ion-grid>
              <ion-row>
                <ion-col col-12><button ion-button block color="navbarColor" (click)="request_the_q88()">Request the Q88</button></ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12><button ion-button block color="navbarColor" (click)="click_Request_Inpection()">Request Inpection</button></ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12><button ion-button block color="navbarColor" (click)="click_sub_input()">Put On Sub</button></ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12><button ion-button block color="navbarColor" (click)="click_Survey_Realtime()">Request a Survey in Realtime</button></ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12><button ion-button block color="navbarColor" (click)="other_document_input()">Request Other Document</button></ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12><button ion-button block color="navbarColor" (click)="add_to_my_fleet()">Add to My Fleet</button></ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12><button ion-button block outline color="navbarColor" (click)="click_hire()">Hire {{ShipName}}</button></ion-col>
              </ion-row>
            </ion-grid>

            </ion-list>
      </div>
</ion-content>
