page-login {

   ion-content{
    background-image: linear-gradient(color($colors,Light-Green),color($colors,Dark-Green)) !important;
   }
.button-margin{
margin-bottom: 10px;
margin-top:5px;
}
ion-item{
  background-color: transparent !important;
  border-color:transparent !important;
}
.input-cover{
  border-color:transparent !important;
}
ion-input{
    color:#fff !important;
    background: transparent;
    font-family: GothamRnd-Medium !important;
    font-size: 12px;
    border-bottom-color:#fff !important;
    border-bottom:solid;
    border-width:1px;
}
ion-label{
  font-family: GothamRnd-Medium !important;
  color:#fff !important;
  display:block;
  font-size: 12px;
  width:57px !important;
  border-color:transparent !important;
}
div.input-item{
  border-bottom:solid;
  border-bottom-color:#fff;
  border-bottom-width: 2px;
}
.list-ios .item-block .item-inner {
  border-bottom: transparent !important;
}

.item-ios.item-block .item-inner {
  border-bottom:transparent !important;
}
ion-label{
    color:#FFF !important;
}
div.logo{
    margin-top:10%;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 5%;
}
p.forgot-password{
    color:#48BFB1;
    text-align: center;
   // margin-left:10%;
    background-color:transparent;
}
button.register{
    color:#48BFB1;
    border-color:#48BFB1;
}
p.alert{
    margin-top:5px;
    color:red;
    text-align: center;
    font-family: GothamRnd-Light;
}
button.sign-in{
    background-color:#48BFB1;

}
.login-header{
  font-family: GothamRnd-Light;
  color:#fff;
  text-align:center;
}
.login-content{
  font-family: GothamRnd-Light;
  color:#fff;
}
.btn{
  font-family: GothamRnd-Medium;
  border-radius: 5px;
  color:color($colors,Dark-Green);
}
.footer{
  font-family: GothamRnd-Medium;
  color:#fff;
  text-align:center;
  font-size: 10px;
  margin-top:50%;
}
.center-dash{
  width:10%;
  height:5px;
  background-color: #FFF;
  opacity: 0.4;
  margin-left:44%;
}
.input-line{
  width:200px;
  height:1px;
  background-color: #FFF;
}
.text-center{
  text-align: center;
}
.item-md.item-block .item-inner{
  border-color:transparent !important;
}
.list-md .item-block .item-inner{
  border-color:transparent !important;
}
}
