<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding>

  <div class="logo login-content text-center">

    <img src="img/logo/knotappfrontlogo.svg" width="100" height="65" alt="logo" >

  </div>
  <h1 class="login-header">Welcome</h1>
  <p class="text-center login-content">The Knots Global Company AIS Solution</p>
  <div class="center-dash"></div>
  <form name="myForm" (ngSubmit)="signIn()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label for="email">Email</ion-label>
        <ion-input type="email" id="email" name="email" placeholder="Email" [(ngModel)]="FormData.email" ng-minlength="5" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="password">Password</ion-label>
        <ion-input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="FormData.password"  minlength="6" required></ion-input>
        <div class="input-line"></div>
      </ion-item>
    </ion-list>
    <p class="alert">{{errorMessage}}</p>
    <button ion-button full color="white"  class="btn button-margin" >Sign In</button>
  </form>

  <button ion-button block outline color="navbarColor" class="btn register" (click)="getRegister()" >Sign Up</button>

  <p (click)="getForgotPassword()" class="forgot-password">Forgot Password</p>

  <div class="footer">
    Copyright © 2018 Knots. All Rights Reserved
  </div>

</ion-content>
