page-my-fleet {
div.ship{
  float:left;
}
i.ship{
  float:right;
}
ion-content{
  background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
}
ion-card{
  background-color: transparent !important;
  border:none !important;
  border-color:transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
}
ion-card-header{
  color:#FFF !important;
  font-family: GothamRnd-Medium !important;
}
ion-card-content{
  background-color: transparent !important;
  border:none !important;
  border-color:transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
}
ion-item{
  font-family:KenyanCoffee-Book;
  font-size:20px !important;
}
ion-list{
  background-color: transparent !important;
  border:none !important;
  border-color:transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
}
ion-item{
  background-color: transparent !important;
  border:none !important;
  border-color:transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
  border-bottom:solid !important;
  border-bottom-color:#D6D6D6!important;
  border-bottom-width:2px !important;
}
.green-fa-icon-round{
  color:#005345 !important;
  font-size:20px !important;
  background-color: #8ddacd !important;
  padding:6px;
  border-radius: 34px;
  margin-right:5px;
}
}
