<!--
  Generated template for the MyFleet page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="navTitle text-center">My Fleet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let ship of fleetData">
        <div class="ship" (click)="ShipInformation(ship.id)"><i class="fa fa-ship green-fa-icon-round" aria-hidden="true"></i> {{ship.name}} </div>
        <img src="img/icon/cancel-items.svg" alt="cancel" class="cancel-icon" (click)="deleteShip(ship.id)" />
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
