<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <img src="img/icon/cancel-music.svg" alt="cancel" class="cancel-icon" (click)="popRegisterForm()" />
    <span class="kenyan-header text-center align-center">SIGN UP</span>
  <ion-card>
    <ion-card-content>
      <p class="title-content text-justify">Sign Up and experience the knots global company AIS solution</p>
      <div class="left-dash"></div>
        <form (ngSubmit)="FormValidator()">
          <ion-list>
            <ion-item>
              <ion-label  stacked>Email</ion-label>
              <ion-input type="email" placeholder="Email" id="email" name="email" [(ngModel)]="FormData.email" #email required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label  stacked>Password</ion-label>
              <ion-input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="FormData.password" #password minlength="6" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label  stacked>Retype Password</ion-label>
              <ion-input type="password" placeholder="Retype Password" id="retypepassword" name="retypepassword" [(ngModel)]="FormData.retypepassword" #retypepassword minlength="6" required></ion-input>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label  stacked>First name</ion-label>
              <ion-input type="text" placeholder="First name" id="firstname" name="firstname" [(ngModel)]="FormData.firstname" #firstnameref required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label  stacked>Last name</ion-label>
              <ion-input type="text" placeholder="Last name" id="lastname" name="lastname" [(ngModel)]="FormData.lastname" #lastname required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label  stacked>Country</ion-label>
              <ion-input type="text" placeholder="Country of Residence" id="country" name="country" [(ngModel)]="FormData.country" #country required></ion-input>
            </ion-item>
              <ion-item>
              <ion-label  stacked>Company Name</ion-label>
              <ion-input type="text" placeholder="Company Name" id="company" name="company" [(ngModel)]="FormData.company" #company required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label  stacked>Phone Number</ion-label>
              <ion-input type="number" placeholder="Phone Number" id="phoneno" name="phoneno" [(ngModel)]="FormData.phoneno" #phoneno required></ion-input>
            </ion-item>
          </ion-list>
          <p class="alert">{{errorMessage}}</p>
          <button ion-button full color="white"  class="btn button-margin">Register</button>
        </form>
    </ion-card-content>
  </ion-card>
<div class="footer">
    Already Signed Up <strong><span class="footer-login" (click)="popRegisterForm()">Login</span></strong>
  </div>
</ion-content>
