page-register {
    ion-content{
      background-image: linear-gradient(color($colors,Light-Green),color($colors,Dark-Green)) !important;
    }
   ion-header{
     background-color: transparent;
   }
   ion-navbar{
    background-color: transparent;
  }
button.register{
    color:#fff;
    border-color:#48BFB1;
    margin-top: 3%;
}
ion-input{
  color:#fff !important;
  background: transparent;
  font-family: GothamRnd-Medium !important;
  font-size: 12px;
  border-bottom-color:#fff !important;
  border-bottom:solid;
  border-width:1px;
}
ion-label{
font-family: GothamRnd-Medium !important;
color:#fff !important;
display:block;
font-size: 12px;
width:140px !important;
border-color:transparent !important;
}
ion-item{
  background-color: transparent !important;
  border-color:transparent !important;
}
ng-valid{
    border-right:solid;
    border-right-width: 7px;
    border-color:green;
}
ng-invalid{
    border-right:solid;
    border-right-width: 7px;
    border-color:red;
}
ng-pristine{
      border-right:solid;
    border-right-width: 7px;
    border-color:green;
}
.cancel-icon{
  width:11px;
  height:auto;
  margin-left:15px;
}
.align-center{
  margin-left:34%;
}
ion-card{
  background-color: transparent !important;
  border:none !important;
  border-color:transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
}
.button-margin{
  margin-bottom: 10px;
  margin-top:5px;
  }
  .btn{
    font-family: GothamRnd-Medium;
    border-radius: 5px;
    color:color($colors,Dark-Green);
    margin-top:10%
  }
  .title-content{
    font-family: GothamRnd-Light;
    color:#fff;
  }
  .left-dash{
    width:10%;
    height:5px;
    background-color: #FFF;
    margin-left:3%;
    margin-top:5%;
    margin-bottom:5%;
  }
  p.alert{
    margin-top:5px;
    color:red;
    text-align: center;
    font-family: GothamRnd-Light;
}
.footer{
  font-family: GothamRnd-Medium;
  color:#fff;
  text-align:center;
  font-size: 10px;
  margin-top:1%;
  margin-bottom:3%;
}
.footer-login{
  text-decoration: underline;
}
}
