<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="profile" tabIcon="text"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="settings " tabIcon="stats"></ion-tab>
</ion-tabs>
