<!--
  Generated template for the Packages page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title class="navTitle text-center">PACKAGES</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>

  <br />

  <ion-card class="grey" padding-bottom>
      <ion-grid>
          <ion-row>
              <ion-col col-8>
                  <h5 class="header">Free Trial</h5>
                  <p class="sub-header">Contains all the Features</p>
              </ion-col>
              <ion-col>
                <div>
  
                    <button ion-button class="btn white small-text" color="Dark-Green" *ngIf="btnFreePackage" full (click)="SetFree()" >Subscribe</button>
                    <button ion-button class="btn small-text" color="Light-Green" *ngIf="!btnFreePackage" outline>Used</button>

                  </div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h4 class="price"><span class="small-text">₦</span>0</h4>
                <span class="period">Monthly</span>
              </ion-col>
          </ion-row>
        </ion-grid>

  </ion-card>
  <br>

  <ion-card class="grey" padding-bottom>
      <ion-grid>
          <ion-row>
              <ion-col col-8>
                  <h5 class="header">Basic Yearly</h5>
                  <p class="sub-header">Contains the Basic Features</p>
              </ion-col>
              <ion-col>
                <div>
  
                    <button ion-button class="btn white small-text" color="Dark-Green" *ngIf="btnBasicYearly" full (click)="getPaymentChoiceModal({ packageType : 'Basic' , packageDuration : 'Yearly' , packageCost : '5000000' })" >Subscribe</button>
                    <button ion-button class="btn small-text" color="Light-Green" *ngIf="!btnBasicYearly" outline (click)="getPaymentChoiceModal({ packageType : 'Basic' , packageDuration : 'Yearly' , packageCost : '5000000' })"  >Renew</button>

                  </div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h4 class="price"><span class="small-text">₦</span>50000</h4>
                <span class="period">Yearly</span>
              </ion-col>
          </ion-row>
      </ion-grid>

  </ion-card>

  <br>

  <ion-card class="grey" padding-bottom>
      <ion-grid>
          <ion-row>
              <ion-col col-8>
                  <h5 class="header">Premium Yearly</h5>
                  <p class="sub-header">Contains the Full Features</p>
              </ion-col>
              <ion-col>
                <div>
  
                    <button ion-button class="btn small-text" color="Dark-Green" *ngIf="btnPremiumYearly" full (click)="getPaymentChoiceModal({ packageType : 'Premium' , packageDuration : 'Yearly', packageCost : '10000000' })" >Subscribe</button>
                    <button ion-button class="btn small-text" color="Light-Green" *ngIf="!btnPremiumYearly" outline (click)="getPaymentChoiceModal({ packageType : 'Premium' , packageDuration : 'Yearly', packageCost : '10000000' })" >Renew</button>

                  </div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h4 class="price"><span class="small-text">₦</span>100000</h4>
                <span class="period">Yearly</span>
              </ion-col>
          </ion-row>
        </ion-grid>

  </ion-card>

  <br>

  <ion-card class="grey" padding-bottom>

      <ion-grid>
          <ion-row>
              <ion-col col-8>
                  <h5 class="header">Basic Monthly </h5>
                  <p class="sub-header">Contains the Basic Features</p>
              </ion-col>
              <ion-col>
                <div>
  
                    <button ion-button class="btn white small-text" color="Dark-Green" *ngIf="btnBasicMonthly" full (click)="getPaymentChoiceModal({ packageType : 'Basic' , packageDuration : 'Monthly', packageCost : '500000' })" >Subscribe</button>
                    <button ion-button class="btn small-text" color="Light-Green" *ngIf="!btnBasicMonthly" outline (click)="getPaymentChoiceModal({ packageType : 'Basic' , packageDuration : 'Monthly', packageCost : '500000' })"  >Renew</button>

                  </div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h4 class="price"><span class="small-text">₦</span>5000</h4>
                <span class="period">Monthly</span>
              </ion-col>
          </ion-row>
        </ion-grid>

    </ion-card>

    <br>

    <ion-card class="grey" padding-bottom>
        <ion-grid>
            <ion-row>
                <ion-col col-8>
                    <h5 class="header"> Premium Monthly </h5>
                    <p class="sub-header">Contains the Premium Features</p>
                </ion-col>
                <ion-col>
                  <div>
    
                      <button ion-button class="btn white small-text" color="Dark-Green" *ngIf="btnPremiumMonthly" full (click)="getPaymentChoiceModal({ packageType : 'Premium' , packageDuration : 'Monthly', packageCost : '1000000'  })" >Subscribe</button>
                      <button ion-button class="btn small-text" color="Light-Green" *ngIf="!btnPremiumMonthly" outline (click)="getPaymentChoiceModal({ packageType : 'Premium' , packageDuration : 'Monthly', packageCost : '1000000'  })"   >Renew</button>

                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <h4 class="price"><span class="small-text">₦</span>10000</h4>
                  <span class="period">Monthly</span>
                </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card>

      <br>
</ion-content>
