page-packages {
ion-card-header{
    background-color:#48BFB1;
    color:white;
    text-align: center;
    font-weight: 700;
}
span.header{
    color:white;
}
ion-col{
    font-size: 18px;
}
ion-content{
  background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
}
ion-card.transparent{
  background-color: transparent !important;
  border:none !important;
  border-color:transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
}
ion-card-header{
  color:#FFF !important;
  font-family: GothamRnd-Medium !important;
}
ion-card-content{
  background-color: transparent !important;
  border:none !important;
  border-color:transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
}
.btn{
  font-family: GothamRnd-Medium;
  border-radius: 5px;
  //color:color($colors,Dark-Green);
}
.white{
  color:#fff;
}
.grey{
  background-color:#E5E5E5;
  border-radius:10px !important;
}
.small-text{
  font-size:10px;
}
h5.header{
  font-family: GothamRnd-Medium;
  font-size:20px;
}
p.sub-header{
  font-family: GothamRnd-Medium;
  font-size:12px;
  color: #AAAAAA !important;
}
h4.price{
  font-family: GothamRnd-Light;
  font-size:40px;
}
.period{
  font-family: GothamRnd-Light;
  font-size:12px;
  color: #AAAAAA !important;
}
}
