<!--
  Generated template for the ForgotPassword page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <img src="img/icon/cancel-music.svg" alt="cancel" class="cancel-icons" (click)="popRegisterForm()" />
    <span class="kenyan-header text-center align-center">Forgot Password</span>
<ion-card>
  <ion-card-header>
    Recover Your Password
  </ion-card-header>
  <ion-card-content>
    <form  (ngSubmit)="ForgotPasswordForm()">
      <ion-label stacked>Email</ion-label>
    <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email"></ion-input>
    <button ion-button full color="white"  class="btn button-margin">Submit</button>
    </form>
  </ion-card-content>
</ion-card>
</ion-content>
