page-forgot-password {
ion-content{
    background-image: linear-gradient(color($colors,Light-Green),color($colors,Dark-Green)) !important;
  }
 ion-header{
   background-color: transparent;
 }
 ion-navbar{
  background-color: transparent;
}
.cancel-icons{
  width:11px;
  height:auto;
  margin-left:15px;
}
.align-center{
  margin-left:34%;
}
ion-input{
  color:#fff !important;
  background: transparent;
  font-family: GothamRnd-Medium !important;
  font-size: 12px;
  border-bottom-color:#fff !important;
  border-bottom:solid;
  border-width:1px;
}
ion-label{
  font-family: GothamRnd-Medium !important;
  color:#fff !important;
  display:block;
  font-size: 12px;
  width:140px !important;
  border-color:transparent !important;
}
ion-item{
  background-color: transparent !important;
  border-color:transparent !important;
}
ion-card{
  background-color: transparent !important;
  border:none !important;
  border-color:transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
}
ion-card-header{
  color:#FFF !important;
  font-family: GothamRnd-Medium !important;
}
.btn{
  font-family: GothamRnd-Medium;
  border-radius: 5px;
  color:color($colors,Dark-Green);
  margin-top:10%
}
}
