<!-- Generated template for the Menu component -->
<ion-menu [content]="mycontent">

    <ion-content>
        <ion-list>
             <button ion-item menuClose (click)="openPage(home)">
                Home
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>