// Chessmaster-8000 Font

$chessmaster-8000-font-path: $font-path !default;

@font-face {
  font-family: "Chessmaster-8000";
  font-style: normal;
  src: local("Chessmaster-8000"), local("Chessmaster-8000"), url("#{$chessmaster-8000-font-path}/CHESSMASTER8000_BOLD.TTF") format("truetype");
}
