page-feedback {
ion-input{
    border-bottom: solid;
    border-width:1px;
    border-color: gray;
    padding: 4px;
    background-color: transparent !important;
    border-color:transparent !important;
}
ion-card{
  background-color: transparent !important;
  border-color:transparent !important;
}
ion-list{
  background-color: transparent !important;
  border-color:transparent !important;
}
ion-card-header{
       color:white !important;
    font-weight: 700 !important;
    text-align: center;
    font-size: 20px !important;
    background-color:#48BFB1;

}
ion-content{
  background-image: linear-gradient(color($colors,Light-Green),color($colors,Dark-Green)) !important;
 }
 ion-item{
  background-color: transparent !important;
  border-color:transparent !important;
}
.cancel-icons{
  width:16px;
  height:auto;
  margin-left:15px;
}
.align-center{
  margin-left:34%;
}
ion-input{
  color:#fff !important;
  background: transparent;
  font-family: GothamRnd-Medium !important;
  font-size: 12px;
  border-bottom-color:#fff !important;
  border-bottom:solid;
  border-width:1px;
}
ion-textarea{
  color:#fff !important;
  background: transparent;
  font-family: GothamRnd-Medium !important;
  font-size: 12px;
  border-bottom-color:#fff !important;
  border-bottom:solid;
  border-width:1px;
}
ion-label{
font-family: GothamRnd-Medium !important;
color:#fff !important;
display:block;
font-size: 12px;
width:57px !important;
border-color:transparent !important;
}
div.input-item{
border-bottom:solid;
border-bottom-color:#fff;
border-bottom-width: 2px;
}
.list-ios .item-block .item-inner {
border-bottom: transparent !important;
}

.item-ios.item-block .item-inner {
border-bottom:transparent !important;
}
ion-label{
  color:#FFF !important;
}
.btn{
  font-family: GothamRnd-Medium;
  border-radius: 5px;
  color:color($colors,Dark-Green);
  margin-top:10%
}
}
