<!--
  Generated template for the Feedback page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content >
    <img src="img/icon/cancel-music.svg" alt="cancel" class="cancel-icons" (click)="popToHome()" />
    <span class="kenyan-header text-center align-center">Talk to Us</span>
<ion-card>

<ion-list>

  <ion-item>
    <ion-label for="subject">Subject</ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="text" name="subject" id="subject" [(ngModel)]="FormData.subject" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label for="body">Body</ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea rows="10" name="body" id="body" [(ngModel)]="FormData.body" ></ion-textarea>
  </ion-item>

</ion-list>

<div padding>
  <button ion-button full color="white"  class="btn button-margin" (click)="click_feedback()">Submit</button>
</div>
</ion-card>
</ion-content>
