<!-- Generated template for the Imageslide component -->
<button ion-button (click)="dismissmodal()" class="close-button" ><i class="fa fa-times close" aria-hidden="true"></i></button>
<ion-slides>
  <ion-slide *ngFor="let photos of gallery">
<img src="{{photos}}" width="100%" />
  </ion-slide>
</ion-slides>

