<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="navTitle text-center"> PROFILE </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- <div>
    <img src="img/background/profileBox.jpg" class="img-responsive" alt="profile-image" />
  </div> -->
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="name text-center">{{Profile['firstname']}} {{Profile['lastname']}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5 class="profile-text text-center"> <b>Email: </b>{{Profile['email']}} </h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5 class="profile-text text-center"> <b>Phone Number: </b>{{Profile['phoneno']}} </h5>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col>
        <p class="profile-text text-center">{{Profile['company']}}</p>
      </ion-col>
      <ion-col>
          <p class="profile-text text-center">{{Profile['country']}}</p>
        </ion-col>
    </ion-row>
      <ion-row>
      <ion-col>
        <h1 class="profile-text text-center status">{{Profile['status']}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col> 
            <p class="profile-text text-center small-text">
              <b>Start</b>
              <br>
              {{Profile['Start_Time']}}
            </p>
        </ion-col>
        <ion-col>
            <p class="profile-text text-center small-text">
                <b>Stop</b>
                <br>
              {{Profile['Stop_Time']}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col> 
              <button ion-button class="btn white" color="Dark-Green" full (click)="goToSettings()" >Edit Profile</button>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-card>
</ion-content>
