page-profile {
  ion-content{
    background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
    
  }
  ion-card{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  ion-card-header{
    color:#FFF !important;
    font-family: GothamRnd-Medium !important;
  }
  ion-card-content{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  h1.name{
    font-family: GothamRnd-Bold !important;
  }
  .profile-text{
    font-family: GothamRnd-Medium;
    color:#3A3A3A;
  }
  .small-text{
    font-size:12px;
  }
  .btn{
    font-family: GothamRnd-Medium;
    border-radius: 5px;
    //color:color($colors,Dark-Green);
  }
  .white{
    color:#fff;
  }
  .status{
    color:color($colors,Dark-Green);
  }
  .img-responsive{
    width:100% !important;

  }
    ion-navbar.toolbar{
    height:155px !important;
    //  background-image:url("../img/background/profileBox.jpg");
  }
  .toolbar-background{
    background-image:url("../img/background/profileBox.jpg");
    background-position:center;
  }
  .back-button.show-back-button {
    margin-top: -90px !important;
  }
  .toolbar-title-md{
    margin-top: -90px !important;
  }
}
