<!--
  Generated template for the ShipInformation page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar >
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title class="navTitle text-center" >Mt  {{ShipName}}</ion-title>
      <div class="segment-container">
        <ion-segment [(ngModel)]="shipsView" color="navbarColor">
            <ion-segment-button value="Vessel">
              Vessel
            </ion-segment-button>
            <ion-segment-button value="Voyage">
              Voyage
            </ion-segment-button>
            <ion-segment-button value="Position" >
              Position
            </ion-segment-button>
            <ion-segment-button value="Documents">
              Documents
            </ion-segment-button>
        </ion-segment>
      </div>
    </ion-navbar>
  
  </ion-header>
  <ion-content >
    <div [ngSwitch]="shipsView">  
      <div *ngSwitchCase="'Vessel'">
          <img src="img/background/profileBox.jpg" class="img-responsive" alt="profile-image" />
        <ion-grid >
          <ion-row class="ion-row-padding">
            <ion-col col-12 class="ship-cell">{{TypeName}}</ion-col>
          </ion-row>
          <ion-row class="ion-row-padding top-bar-border">
            <ion-col col-4 class="ship-cell"><span class="cell-header">Ship ID</span><br>{{id}}</ion-col>
            <ion-col col-4 class="ship-cell"><span class="cell-header">Ship IMO</span><br> {{ShipIMO}}</ion-col>
            <ion-col col-4 class="ship-cell"><span class="cell-header">Ship MMSI</span><br> {{MMSI}}</ion-col>
          </ion-row>
          <ion-row class="ion-row-padding top-bar-border bottom-bar-border">
              <ion-col col-4 class="ship-cell"><span class="cell-header">Year Built</span><br>{{YearBuilt}}</ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">AIS Type</span><br>{{AIS_TYPE_SUMMARY}}</ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Destination</span><br>{{Destination}}</ion-col>
          </ion-row>
          <ion-row class="ion-row-padding top-bar-border bottom-bar-border">
              <ion-col col-4 class="ship-cell"><span class="cell-header">Current Location</span><br>{{currentLocation}}</ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Ship Length</span><br>{{ShipLength}}</ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Ship Width</span><br>{{ShipWidth}}</ion-col>
          </ion-row>
          <ion-row class="ion-row-padding">
              <ion-col col-12 class="ship-cell"><span class="cell-header">FLAG:</span> {{FLAG}}</ion-col>
            </ion-row>
        </ion-grid>
      </div>
      <div *ngSwitchCase="'Voyage'">
        <ion-grid>
          <ion-row class="ion-row-padding">
              <ion-col col-3 class="ship-cell"><span class="cell-header">Destination</span></ion-col>
              <ion-col col-9 class="ship-cell text-right">{{Destination}}</ion-col>
          </ion-row>
          <ion-row class="ion-row-padding top-bar-border">
              <ion-col col-4 class="ship-cell"><span class="cell-header">Calculated ETA</span><br>{{ETA_CALC}}</ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Reported ETA</span><br>{{ETA}}</ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Updated ETA</span><br>{{ETA_UPDATED}}</ion-col>
          </ion-row>
          <ion-row class="ion-row-padding top-bar-border">
              <ion-col col-4 class="ship-cell"><span class="cell-header">Current Port</span><br>{{CURRENT_PORT}}</ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Current Port Country</span><br>{{CURRENT_PORT_COUNTRY}}</ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Current Port ID</span><br>{{CURRENT_PORT_ID}}</ion-col>
          </ion-row>
          <ion-row class="ion-row-padding top-bar-border">
              <ion-col col-4 class="ship-cell"><span class="cell-header">Next Port</span><br>{{NEXT_PORT_NAME}}</ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Next Port Country</span><br>{{NEXT_PORT_COUNTRY}}</ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Next Port ID</span><br>{{NEXT_PORT_ID}}</ion-col>
          </ion-row>
          <ion-row class="ion-row-padding top-bar-border">
              <ion-col col-4 class="ship-cell"><span class="cell-header">Last Port </span><br>{{LAST_PORT_NAME}} </ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Last Port Country</span><br>{{LAST_PORT_COUNTRY}} </ion-col>
              <ion-col col-4 class="ship-cell"><span class="cell-header">Last Port ID</span><br>{{LAST_PORT_ID}}</ion-col>
          </ion-row>
          <ion-row class="ion-row-padding top-bar-border">
              <ion-col col-6 class="ship-cell"><span class="cell-header">Distance to Go</span><br>{{DISTANCE_TO_GO}}</ion-col>
              <ion-col col-6 class="ship-cell"><span class="cell-header">Distance Travelled</span><br>{{DISTANCE_TRAVELLED}}</ion-col>
          </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'Position'">
      <ion-grid>
        <ion-row class="ion-row-padding top-bar-border">
            <ion-col col-6 class="ship-cell"><span class="cell-header">Latitude</span><br>{{LONG}}</ion-col>
            <ion-col col-6 class="ship-cell"><span class="cell-header">Longitude</span><br>{{Lat}}</ion-col>
        </ion-row>
        <ion-row class="ion-row-padding top-bar-border">
            <ion-col col-4 class="ship-cell"><span class="cell-header">Average Speed</span><br>{{AVG_SPEED}}</ion-col>
            <ion-col col-4 class="ship-cell"><span class="cell-header">Speed / Course</span><br>{{AVG_SPEED}} / {{COURSE}}</ion-col>
            <ion-col col-4 class="ship-cell"><span class="cell-header">Max speed</span><br>{{Lat}}</ion-col>
        </ion-row>

    </ion-grid>
  </div>
  <div *ngSwitchCase="'Documents'"> 
      <ion-list>
        <button ion-item full color="navbarColor" class="ion-item-docs" (click)="request_the_q88()"><i class="fa fa-file-text-o green-fa-icon-round" aria-hidden="true"></i> Request the Q88</button>
        <button ion-item full color="navbarColor" class="ion-item-docs" (click)="click_Request_Inpection()"><i class="fa fa-file-text-o green-fa-icon-round" aria-hidden="true"></i> Request Inpection</button>
        <button ion-item full color="navbarColor" class="ion-item-docs" (click)="click_sub_input()"><i class="fa fa-file-text-o green-fa-icon-round" aria-hidden="true"></i> Put On Sub</button>
        <button ion-item full color="navbarColor" class="ion-item-docs" (click)="click_Survey_Realtime()"><i class="fa fa-file-text-o green-fa-icon-round" aria-hidden="true"></i> Request a Survey in Realtime</button>
    </ion-list>
    <button ion-button outline color="Light-Green" class="ion-item-docs btn-doc text-center " (click)="other_document_input()">Request Other Document</button>
    <p class="doc-p text-center"><i class="fa fa-clock-o" aria-hidden="true"></i> Document Reach is 24 Hours</p>
  </div>
      </div>
      <div class="bottom-menu">
        <ion-grid>
            <ion-row>
              <ion-col>
                <div class="bottom-menu-item" (click)="click_View_gallery()">
                  <i class="fa fa-camera grey-icon" aria-hidden="true"></i>
                  <br>
                  <span class="bottom-menu-span">View Gallery</span>
                </div>
              </ion-col> 
              <ion-col>
                  <div class="bottom-menu-item" (click)="click_hire()">
                      <i class="fa fa-ellipsis-h green-icon-round" aria-hidden="true"></i>
                      <br>
                      <span class="bottom-menu-span">Hire Now</span>
                  </div>
              </ion-col> 
              <ion-col>
                <div class="bottom-menu-item" (click)="add_to_my_fleet()">
                  <i class="fa fa-plus-square grey-icon" aria-hidden="true"></i>
                  <br>
                  <span class="bottom-menu-span">Add to Fleet</span>
                </div>
              </ion-col> 
            </ion-row>
          </ion-grid>
      </div>
  </ion-content>
  