page-ship-information {
ion-content{
     background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
}
.ship-icon{
    font-size: 100px;
    text-align: center;
    color:#48BFB1;
}
ion-card-header{
    font-size: 30px;
    font-weight: 700;
}
.toolbar{
    height:102px !important;

}
.toolbar-md{
    height:90px !important;
}
.segment-container{
    position:absolute;
    top:47px;
    width:100% !important;
    left:0%;
}
.toolbar-title-ios {
  margin-bottom: 8px !important;
}
ion-segment{
    width:100%;
  }
  ion-segment-button{
    max-width:48% !important;
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    border-radius: 0 !important;
    color:#fff !important;

    font-family: GothamRnd-Light !important;

  }
  ion-segment-button.segment-activated{
    border-bottom:solid !important;
    border-bottom-color:#fff !important;
    border-width:2px !important;
  }
  .back-button.show-back-button {
    margin-top: -35px !important;
}
  .img-responsive{
    width:100% !important;

  }
  .toolbar-title-md{
      margin-bottom:36px;
  }
  .ship-cell{
      font-family: kenyanCofeeBD !important;
      color:color($colors,Dark-Green) !important;
      font-size:16px;
  }
  span.cell-header{
      font-family: KenyanCoffee-Light !important;
      color:color($colors,Dark-Green) !important;
      font-size:16px;
  }
  .bottom-menu-span{
      font-family: GothamRnd-Book !important;
      font-size:10px;
      text-align:center;
      margin-top:5px;
  }
  .bottom-menu{
      background-color:#FFF;
  }
  .bottom-menu-item{
      text-align:center;
  }
  .green-icon-round{
    color:#FFF !important;
    font-size:26px !important;
    background-image: linear-gradient(color($colors,Light-Green),color($colors,Dark-Green)) !important;
    padding:11px;
    border-radius: 50%;
    text-align:center;
}
  .grey-icon{
      font-size: 33px !important;
      padding: 7px;
      border-radius: 34px;
      color:#DDDBDB;
      text-align:center;
  }
  .bottom-menu{
      position:absolute;
      bottom:0px;
      width:100%;

  }
  .top-bar-border{
      border-top-color:#B7B7B7 !important;
      border-top:solid;
      border-width:1px;
  }
  .bottom-bar-border{
      border-bottom-color:#B7B7B7 !important;
      border-bottom:solid;
      border-width:1px;
  }
    .left-bar-border{
      border-left-color:#B7B7B7 !important;
      border-left:solid;
      border-width:1px;
  }
    .right-bar-border{
      border-right-color:#B7B7B7 !important;
      border-right:solid;
      border-width:1px;
  }
  .ion-row-padding{
      padding:7px;
  }
  .text-left{
      text-align:left;
  }
  .text-right{
      text-align:Right;
  }
  .ion-item-docs{
      font-family: KenyanCoffee-Light !important;
  }
  .btn-doc{

      width:95%;
      font-size:16px;
      margin-left:2.5%;
  }
  .btn-center{
      margin-left:auto;
      margin-right:auto;
      display:block;
  }
  .doc-p{
      font-family: GothamRnd-Book !important;
      color:#B7B7B7 !important;
  }
}
