ship-information-pay-info {
  background-color:#C1C1C1;
  .close{
    font-size: 20px;
    color:#fff;
  }
  .close-button{
    top:5px;
    right:5px;
    background-color: #C1C1C1;
  }
  h1{
    color:#fff;
  }
}
