<!-- Generated template for the ShipInformationPayInfo component -->
<button ion-button (click)="dismissmodal()" class="close-button" ><i class="fa fa-times close" aria-hidden="true"></i></button>
<ion-card>
  <ion-list *ngFor="let CardsKey of CardsKeys">
    <ion-item id="{{CardsKey}}">
      <ion-icon ios="ios-card" md="md-card" item-start></ion-icon>
      {{Cards[CardsKey].last4}}
      <ion-icon ios="ios-close" md="md-close" (click)="DeleteCard(CardsKey)" item-end></ion-icon>
    </ion-item>
  </ion-list>
 <ion-list>
   <button ion-item
    angular4-paystack
    [key]="'pk_test_d6e073b7cc8176b2181fcf14f01014dc5a122aff'"
    [email]="userEmail"
    [amount]="50"
    [ref]="refNo"
    [class]="'btn btn-primary'"
    (close)="paymentCancel()"
    (callback)="addCard($event)"
  >
    <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> Add Card
 </button>
 </ion-list>
</ion-card>
