<!--
  Generated template for the Mydocuments page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="navTitle text-center">MY DOCUMENTS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
      <ion-card-content>

      </ion-card-content>
  </ion-card>
</ion-content>
