page-mydocuments {
  ion-content{
    background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
  }
  ion-card{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  ion-card-header{
    color:#FFF !important;
    font-family: GothamRnd-Medium !important;
  }
  ion-card-content{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
}
