<!--
  Generated template for the OtherMarineServices page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="navTitle text-center">OTHER MARINE SERVICES</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <button ion-item class="item-options" (click)="gotoShipToshipCompanies()">
        <i class="fa fa-ship green-fa-icon-round" aria-hidden="true"></i>
        Ship to Ship transfer Companies
      </button>

      <button ion-item class="item-options" (click)="gotoShippingAgencies()">
        <i class="fa fa-ship green-fa-icon-round" aria-hidden="true"></i>
        Shipping Agencies
      </button>
    </ion-list>
  </ion-card>
</ion-content>
