page-other-marine-services {
  ion-content{
    background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
  }
  ion-card{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  ion-card-header{
    color:#FFF !important;
    font-family: GothamRnd-Medium !important;
  }
  ion-card-content{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  ion-item{
    font-family:KenyanCoffee-Book;
    font-size:20px !important;
  }
  ion-list{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  ion-item{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    border-bottom:solid !important;
    border-bottom-color:#D6D6D6!important;
    border-bottom-width:2px !important;
  }
  button.item-options{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    border-bottom:solid !important;
    border-bottom-color:#D6D6D6!important;
    border-bottom-width:2px !important;
    font-family:KenyanCoffee-Book;
    font-size:18px !important;
  }
  .green-fa-icon-round{
    color:#005345 !important;
    font-size:20px !important;
    background-color: #8ddacd !important;
    padding:6px;
    border-radius: 34px;
    margin-right:5px;
  }
}
