page-home {
.wrapper{
    position: absolute;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#map{
    height: 100%;
    width:100%;
}
.map{
  height: 100%;
}
.search-bar{
  border:solid;
  border-width:1px;
  //border-color:black !important;
  margin-left:7% !important;
  margin-bottom:2% !important;
  width:70%;
  height:25px !important;
  font-size:12px !important;
  border-radius: 8px;
  padding-top: 0 !important;
  padding-left: 0;
  padding-bottom:0;
  line-height: -10px !important;
}
.text-input-md{
  margin-top: 4px !important;
}
.text-input-ios{
  margin-top: 4px !important;
  margin-left:4px !important;
}
.toolbar-content-md{
  margin-top:4px !important;
}
.toolbar-content-ios{
  margin-top:4px !important;
}
.map-full{
  position: fixed !important;
  top:0;
  height: 120% !important;

}
button.menu-button{
  background: transparent !important;
  height: 30px;
  padding:2px;
}
.search-icon{
    position:absolute;
    top:10px;
    z-index: 999;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:12px;
    text-align: center;
    background-color: gray;
    opacity: 0.8;
    width:94%;
    margin-right:3%;
    margin-left:3%;
    color:black;

}
.search-icon-full{
  position:absolute;
  top:5px;
  z-index: 999;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:12px;
  text-align: center;
  background-color: gray;
  opacity: 0.8;
  width:94%;
  margin-right:3%;
  margin-left:3%;
  color:black;
}
div.search{
  background-color: transparent;
}
.fa-search{
  z-index: 999;
  font-size: 22px;
}
.search-box{
  position: absolute;
  top:20%;
  right:5%;
}

//splash screen
#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #fff;
}

.flb {
  background-color: #FFF;
  height:100%;
  width:100%;
  animation: pulse 1s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  animation: animation 3100ms linear infinite both;
  animation-delay: 1s;
}
img.splash{
  width:100px !important;
  height:100px !important;
}
div.splashscreen{
  position:absolute;
  z-index: 100001;
  bottom:5px;
  font-size:8px !important;
  width:100% !important;
}
ion-col.right-splash{
  padding-left:24px !important;
}
splash-bottom{
  width: 100%;
  height: auto;
}
div.reverse-navbar{
  position:absolute;
  top:0;
  z-index: 10;
  background: transparent !important;
  width:100%;
  margin-top:5%;
  margin-left:5%;
  -webkit-box-shadow: none !important ;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

}
