<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
 <ion-navbar *ngIf='navBarstatus' >
    <button ion-button menuToggle>
      <img src="img/icon/menu.svg" width="20">
    </button>
    <img src="img/logo/knotsroundedlogo.svg" width="40">
    <span class="navTitle text-center">KNOTS</span>
    <div class="search-box"><button ion-button class="transparent-button" (click)="navBarToggle()"><img src="img/icon/binoculars.svg" width="20"></button>
      <button ion-button class="transparent-button" (click)="shipSearchModalPop()"> <img src="img/icon/search.svg" width="20"></button></div>
 </ion-navbar>
</ion-header>
<div class="reverse-navbar" *ngIf='!navBarstatus'>
    <img src="img/logo/knotsroundedlogo-reverse.svg" width="50" (click)="navBarToggle()">
</div>
<ion-content>
  <div class="wrapper">

    <div id="map" [ngClass]="navBarstatus ? 'map':'map-full'" (dblclick)="navBarToggle()"></div>
  </div>
</ion-content>
