<!--
  Generated template for the ShipsNearMe page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="navTitle text-center">Ships Near Me</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let ship of shipsNearMe">
          <div class="ship" (click)="ShipInformation(ship.id)"><i class="fa fa-ship green-fa-icon-round" aria-hidden="true"></i> {{ship.name}} </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
