<!--
  Generated template for the ShippingAgencies page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="navTitle text-center">Shipping Agencies</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-card>

        <ion-list>
          <button ion-item class="item-options" (click)="viewAgencyContactDetails()">
            <i class="fa fa-ship green-fa-icon-round" aria-hidden="true"></i>
            Knots Global Limited
          </button>

          <button ion-item class="item-options" (click)="viewAgencyContactDetails()">
            <i class="fa fa-ship green-fa-icon-round" aria-hidden="true"></i>
            Glenstar Marine Limited
          </button>
        </ion-list>
      </ion-card>

</ion-content>
