page-settings {
  ion-card-header.package{
      text-align: center;
      font-size: 20px;
      background-color:#48BFB1;
      color:white;

  }
  ion-content{
    background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
  }
  ion-card.transparent{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  ion-card-header{
    color:#FFF !important;
    font-family: GothamRnd-Medium !important;
  }
  ion-card-content{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  ion-input{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    color: #666666 !important;
  }
  ion-list{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  ion-item{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    border-bottom:solid !important;
    border-bottom-width:1px !important;
    border-bottom-color: #B7B7B7 !important;
    font-family: GothamRnd-Medium !important;
  }
  ion-label{
    font-family: GothamRnd-Medium !important;
    color: #B7B7B7 !important;
  }
  .background-green{
    background-image: linear-gradient(color($colors,Light-Green),color($colors,Dark-Green)) !important;
  }
  .navTitle{
    height:150px;
  }
  .toolbar-background{
    padding-bottom:100px !important;
  }
  ion-navbar.toolbar{
    height:95px !important;
  }
  .setting-segment{
    position:absolute;
    top:41px;
    width:100% !important;
    left:0%;
  }
  ion-segment{
    width:100%;
  }
  ion-segment-button{
    max-width:48% !important;
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    border-radius: 0 !important;
    color:#fff !important;

    font-family: GothamRnd-Medium !important;

  }
  ion-segment-button.segment-activated{
    border-bottom:solid !important;
    border-bottom-color:#fff !important;
    border-width:2px !important;
  }
  .back-button.show-back-button {
    margin-top: -35px !important;
}
ion-card-header{
  color:#48BFB1 !important;
}
ion-card-header.white{
  color:#fff !important;
}
.btn{
  font-family: GothamRnd-Medium;
  border-radius: 5px;
  //color:color($colors,Dark-Green);
}
.white{
  color:#fff;
}
.segment-md{
  margin-top:11px !important;
}
.grey{
  background-color:#E5E5E5;
  border-radius:10px !important;
}
.small-text{
  font-size:10px;
}
h5.header{
  font-family: GothamRnd-Medium;
  font-size:20px;
}
p.sub-header{
  font-family: GothamRnd-Medium;
  font-size:12px;
  color: #AAAAAA !important;
}
h4.price{
  font-family: GothamRnd-Light;
  font-size:40px;
}
.period{
  font-family: GothamRnd-Light;
  font-size:12px;
  color: #AAAAAA !important;
}
}
