<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <ion-title class="navTitle text-center">SETTINGS <br></ion-title>
    <div class="setting-segment">

        <ion-segment color="navbarColor" [(ngModel)]="settingsView">

          <ion-segment-button  value="editProfile">

            Edit Profile

          </ion-segment-button>

          <ion-segment-button  value="changePackage">

            Change Package

          </ion-segment-button>

        </ion-segment>

    </div>
  </ion-navbar>

</ion-header>

<ion-content>


  <div [ngSwitch]="settingsView">

    <ion-list *ngSwitchCase="'editProfile'">

      <ion-card class="transparent">

        <ion-card-header>

          Change Password

        </ion-card-header>

        <ion-card-content>

          <form (ngSubmit)="passwordForm()">

            <ion-list>

              <ion-item>

                <ion-label color="navbarColor" stacked>Old Password</ion-label>

                <ion-input type="password" placeholder="Old Password" name="oldPassword" [(ngModel)]="FormPassword.oldPassword"></ion-input>

              </ion-item>

              <ion-item>

                <ion-label color="navbarColor" stacked>New Password</ion-label>

                 <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="FormPassword.newPassword"></ion-input>

              </ion-item>
              <ion-item>

               <ion-label color="navbarColor" stacked>Retype Password</ion-label>

               <ion-input type="password" placeholder="Retype Password" name="retypepassword" [(ngModel)]="FormPassword.retypenewpassword"></ion-input>

              </ion-item>

                <button class="btn white" color="Dark-Green" ion-button full>Submit</button>

            </ion-list>

          </form>

          <form (ngSubmit)="updateRegisterForm()">

            <ion-card-header>

              Personal information

            </ion-card-header>

            <ion-list>

              <ion-item>

                <ion-label color="navbarColor" stacked>First name</ion-label>

                <ion-input type="text" placeholder="First name" name="firstname" [(ngModel)]="FormData.firstname"></ion-input>

              </ion-item>

              <ion-item>

                <ion-label color="navbarColor" stacked>Last name</ion-label>

                <ion-input type="text" placeholder="Last name"name="lastname" [(ngModel)]="FormData.lastname"></ion-input>

              </ion-item>

              <ion-item>

                <ion-label color="navbarColor" stacked>Country</ion-label>

                <ion-input type="text" placeholder="Country of Residence" name="country" [(ngModel)]="FormData.country"></ion-input>

              </ion-item>

              <ion-item>

                <ion-label color="navbarColor" stacked>Company Name</ion-label>

                <ion-input type="text" placeholder="Company Name" name="company" [(ngModel)]="FormData.company" ></ion-input>

              </ion-item>

              <ion-item>

                <ion-label  stacked>Phone Number</ion-label>

                <ion-input type="text" placeholder="Phone Number" name="phoneno" [(ngModel)]="FormData.phoneno"></ion-input>

              </ion-item>

              </ion-list>

      <button class="btn white" color="Dark-Green" ion-button full>Submit</button>

    </form>

    </ion-card-content>

  </ion-card>

  <br>

    </ion-list>

    <ion-list *ngSwitchCase="'changePackage'">

      <br>

    <ion-card class="grey" padding-bottom>
      <ion-grid>
        <ion-row>
            <ion-col col-8>
                <h5 class="header">Basic Yearly</h5>
                <p class="sub-header">Contains the Basic Features</p>
            </ion-col>
            <ion-col>
              <div>
                <button ion-button class="btn white small-text" color="Dark-Green" *ngIf="btnBasicYearly" full (click)="getPaymentChoiceModal({ packageType : 'Basic' , packageDuration : 'Yearly' , packageCost : '5000000' })" >Subscribe</button>
                <button ion-button class="btn small-text" color="Light-Green" *ngIf="!btnBasicYearly" outline (click)="getPaymentChoiceModal({ packageType : 'Basic' , packageDuration : 'Yearly' , packageCost : '5000000' })"  >Renew</button>
              </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <h4 class="price"><span class="small-text">₦</span>50000</h4>
              <span class="period">Yearly</span>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <br>

    <ion-card class="grey">
        <ion-grid>
            <ion-row>
                <ion-col col-7>
                    <h5 class="header">Premium Yearly</h5>
                    <p class="sub-header">Contains the Full Features</p>
                </ion-col>
                <ion-col>
                  <div>
                    <button ion-button class="btn small-text" color="Dark-Green" *ngIf="btnPremiumYearly" full (click)="getPaymentChoiceModal({ packageType : 'Premium' , packageDuration : 'Yearly', packageCost : '10000000' })" >Subscribe</button>
                    <button ion-button class="btn small-text" color="Light-Green" *ngIf="!btnPremiumYearly" outline (click)="getPaymentChoiceModal({ packageType : 'Premium' , packageDuration : 'Yearly', packageCost : '10000000' })" >Renew</button>
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <h4 class="price"><span class="small-text">₦</span>100000</h4>
                  <span class="period">Yearly</span>
                </ion-col>
            </ion-row>
          </ion-grid>
            <br>
    </ion-card>

    <ion-card class="grey">
        <ion-grid>
            <ion-row>
                <ion-col col-7>
                    <h5 class="header">Basic Monthly </h5>
                    <p class="sub-header">Contains the Basic Features</p>
                </ion-col>
                <ion-col>
                  <div>
                    <button ion-button class="btn white small-text" color="Dark-Green" *ngIf="btnBasicMonthly" full (click)="getPaymentChoiceModal({ packageType : 'Basic' , packageDuration : 'Monthly', packageCost : '500000' })" >Subscribe</button>
                    <button ion-button class="btn small-text" color="Light-Green" *ngIf="!btnBasicMonthly" outline (click)="getPaymentChoiceModal({ packageType : 'Basic' , packageDuration : 'Monthly', packageCost : '500000' })"  >Renew</button>
                  </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <h4 class="price"><span class="small-text">₦</span>5000</h4>
                  <span class="period">Monthly</span>
                </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card>

      <br>

      <ion-card class="grey">
          <ion-grid>
              <ion-row>
                  <ion-col col-7>
                      <h5 class="header"> Premium Monthly </h5>
                      <p class="sub-header">Contains the Premium Features</p>
                  </ion-col>
                  <ion-col>
                    <div>
                      <button ion-button class="btn white small-text" color="Dark-Green" *ngIf="btnPremiumMonthly" full (click)="getPaymentChoiceModal({ packageType : 'Premium' , packageDuration : 'Monthly', packageCost : '1000000'  })" >Subscribe</button>
                      <button ion-button class="btn small-text" color="Light-Green" *ngIf="!btnPremiumMonthly" outline (click)="getPaymentChoiceModal({ packageType : 'Premium' , packageDuration : 'Monthly', packageCost : '1000000'  })"   >Renew</button>  
                    </div>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                    <h4 class="price"><span class="small-text">₦</span>10000</h4>
                    <span class="period">Monthly</span>
                  </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card>

        <br>

    </ion-list>

  </div>

</ion-content>
