// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  white: #FFF,
  Dark-Green:  #005345,
  Light-Green: #4ABFB1,
  Dark-Grey:  #424242,
  Grey-2:#424342,

);
$toolbar-md-title-text-color: #FFF;
$toolbar-ios-title-text-color: #FFF;
$toolbar-wp-title-text-color: #FFF;
$toolbar-md-title-font-size:10px;
$bar-height:                      30px !default;
$bar-title-font-size:             17px !default;

$bar-footer-height:               $bar-height !default;
$bar-subheader-height:            $bar-height !default;
$bar-subfooter-height:            $bar-height !default;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans.scss";
@font-face {
  font-family: "Chessmaster-8000";
  font-style: bold;
  src: url('../assets/fonts/CHESSMASTER8000_BOLD.woff');
}
.chessmasterfont{
  font-family: "Chessmaster-8000";
}
@font-face {
  font-family: "GothamRnd-Bold";
  font-style: bold;
  src: url('../assets/fonts/GothamRnd-Bold.otf');
}
.GothamRnd-Bold{
  font-family: "GothamRnd-Bold";
}
@font-face {
  font-family: "GothamRnd-BoldIta";
  font-style: bold;
  src: url('../assets/fonts/GothamRnd-BoldIta.otf');
}
@font-face {
  font-family: "GothamRnd-Book";
  font-style: normal;
  src: url('../assets/fonts/GothamRnd-Book.otf');
}
@font-face {
  font-family: "GothamRnd-Light";
  font-style: normal;
  src: url('../assets/fonts/GothamRnd-Light.otf');
}
@font-face {
  font-family: "GothamRnd-LightIta";
  font-style: italic;
  src: url('../assets/fonts/GothamRnd-LightIta.otf');
}
@font-face {
  font-family: "GothamRnd-MedIta";
  font-style: normal;
  src: url('../assets/fonts/GothamRnd-MedIta.otf');
}
@font-face {
  font-family: "GothamRnd-Medium";
  font-style: normal;
  src: url('../assets/fonts/GothamRnd-Medium.otf');
}
@font-face {
  font-family: "kenyanCofeeBD";
  font-style: bold;
  src: url('../assets/fonts/kenyan\ coffee\ bd.ttf');
}
@font-face {
  font-family: "kenyan-coffee-bd-it";
  font-style: bold;
  src: url('../assets/fonts/kenyan\ coffee\ bd\ it.ttf');
}
@font-face {
  font-family: "kenyan-coffee-rg";
  font-style: normal;
  src: url('../assets/fonts/kenyan\ coffee\ rg.ttf');
}
@font-face {
  font-family: "kenyan-coffee-rg-it";
  font-style: italic;
  src: url('../assets/fonts/kenyan\ coffee\ rg\ it.ttf');
}
@font-face {
  font-family: "KenyanCoffee-Bold";
  font-style: bold;
  src: url('../assets/fonts/KenyanCoffee-Bold.otf');
}
@font-face {
  font-family: "KenyanCoffee-Bold-Italic";
  font-style: italic;
  src: url('../assets/fonts/KenyanCoffee-Bold\ Italic.otf');
}
@font-face {
  font-family: "KenyanCoffee-Book";
  font-style: normal;
  src: url('../assets/fonts/KenyanCoffee-Book.otf');
}
@font-face {
  font-family: "KenyanCoffee-Book-Italic";
  font-style: italic;
  src: url('../assets/fonts/KenyanCoffee-Book\ Italic.otf');
}
@font-face {
  font-family: "KenyanCoffee-ExtraLight";
  font-style: normal;
  src: url('../assets/fonts/KenyanCoffee-ExtraLight.otf');
}
@font-face {
  font-family: "KenyanCoffee-Italic";
  font-style: italic;
  src: url('../assets/fonts/KenyanCoffee-Italic.otf');
}
@font-face {
  font-family: "KenyanCoffee-Light";
  font-style: normal;
  src: url('../assets/fonts/KenyanCoffee-Light.otf');
}
@font-face {
  font-family: "KenyanCoffee-Light-Italic";
  font-style:italic;
  src: url('../assets/fonts/KenyanCoffee-Light\ Italic.otf');
}
@font-face {
  font-family: "KenyanCoffee-Regular";
  font-style: normal;
  src: url('../assets/fonts/KenyanCoffee-Regular.otf');
}
@font-face {
  font-family: "KenyanCoffee-SemiBold";
  font-style: bold;
  src: url('../assets/fonts/KenyanCoffee-SemiBold.otf');
}
@font-face {
  font-family: "KenyanCoffee-SemiBold-Italic";
  font-style: bold;
  src: url('../assets/fonts/KenyanCoffee-SemiBold\ Italic.otf');
}
@font-face {
  font-family: "KenyanCoffee-UltLight-Italic";
  font-style: italic;
  src: url('../assets/fonts/KenyanCoffee-UltLight\ Italic.otf');
}
@font-face {
  font-family: "KenyanCoffee-Ultra-Light";
  font-style: normal;
  src: url('../assets/fonts/KenyanCoffee-UltraLight.otf');
}
@font-face {
  font-family: "KenyanCoffee-XLight-Italic";
  font-style: italic;
  src: url('../assets/fonts/KenyanCoffee-XLight\ Italic.otf');
}

