<!--
  Generated template for the Accounts page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="kenyan-header">My Cards</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-list *ngFor="let CardsKey of CardsKeys">
      <ion-item id="{{CardsKey}}">
        <ion-icon ios="ios-card" md="md-card" item-start></ion-icon>
        {{Cards[CardsKey].last4}}
        <ion-icon ios="ios-close" md="md-close" (click)="DeleteCard(CardsKey)" item-end></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list [innerHTML]="newCardHtml">

    </ion-list>
   <ion-list>
      <button ion-item class="itemsOptions"
        angular4-paystack
        (click)="startLoader()"
        [key]="'pk_test_d6e073b7cc8176b2181fcf14f01014dc5a122aff'"
        [email]="userEmail"
        [amount]="50"
        [ref]="refNo"
        [class]="'btn btn-primary'"
        (close)="paymentCancel()"
        (callback)="addCard($event)">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> Add Card
      </button>
   </ion-list>
  </ion-card>
</ion-content>
