// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content.side-bar{
  background-image: linear-gradient(color($colors,Light-Green),color($colors,Dark-Green)) !important;
}
ion-content{
    background:#C1C1C1; /* For browsers that do not support gradients E1E5E4 */
    font-family: 'Lato', sans-serif;
}
.cancel-icon{
  width:11px;
  height:auto;
  margin-left:15px;
}
.side-bar{
}
ion-list.sidebar{

}
div.nav-bar{

  color:#fff;
  height:60px;
}
//DFE5E4
.button-gradient{

}
.text-center{
    text-align: center;
}
ion-navbar{
    background-color: #48BFB1 !important;

    color:#fff !important;
}
ion-item.sidebar{
    background: transparent !important; /* For browsers that do not support gradients */
    border-color:transparent !important;
    text-align: left;
    padding-left:7px;
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:3px;
    font-size: 18px;
    height:20px;
    color:#FFF;
    font-family: KenyanCoffee-ExtraLight;

}
ion-item.sidebar-header{
  background: transparent !important; /* For browsers that do not support gradients */
    border-color:transparent !important;
    text-align: left;
    padding-left:0px;
    padding-top:0px;
    margin-top:10px;
    margin-left:25px;
    padding-bottom:0px;
    font-size: 9px;
    height:15px !important;
    overflow:hidden !important;
    color:#FFF;
    font-family: GothamRnd-Medium;
    opacity:0.8;
}
i.sidebar{
  opacity:0.7;
  margin-right:7px;
  font-size: 10px;
}
.item {
  min-height: 3rem; /* <- this can be whatever you need */
}
.item-inner{
  border-color:transparent !important;
}
.text-center{
  text-align:center;
}
div.menu-inner{
width:68%;
}
ion-header{
  background-color: transparent !important;
}
.title{
    font-size:23px !important;
}
.toolbar-title{
font-size:15px !important;
}

$SIDEMENU_TOP:color($colors,Light-Green);
$SIDEMENU_BOTTOM:color($colors,Dark-Green);
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);
$navbar-ios-height:65px;
$navbar-md-height:50px;
$navbar-wp-height:65px;

.toolbar-background-md {
    background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background-repeat: repeat-x;
    padding:1px !important;
}
.toolbar toolbar-md{
  height:50px !important;
  min-height: 50px !important;
  color:#fff !important;
  padding:0;
}
.toolbar-background-ios{
    background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background-repeat: repeat-x;
    padding:1px !important;

}
ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, white);
}
.bar-button-default {
    color: map-get($colors, white) !important;
}
.toolbar-title-ios{
  font-size: 17px;
  margin-bottom: 8px !important;
}
.toolbar-title-md{
  font-size: 17px;
  padding-top: 2px;
}

ion-navbar {
  height:63px !important;
  min-height: 63px !important;
  color:#fff !important;
  padding:0;
  padding-bottom: 5px !important;
}
.kenyan-header{
  font-family: KenyanCoffee-Book;
  font-size:16px;
  color:#FFF;
}
.text-justify{
  text-align: justify;
}
div.menu-logout{
  color:color($colors,Light-Green);
  padding:10px;
  position:absolute;
  bottom:0;
  background-color: #042F28;
  font-family: GothamRnd-Medium;
  width:100%;
}
i.menu-logout{
  color:color($colors,Light-Green);
  margin-left:5px;
}
.transparent-button{
  background-color: transparent;
  border-color: transparent;
  padding-top: 0;
  padding: 3px;
  -webkit-box-shadow: none !important ;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
button.transparent-button:active{
  background-color: transparent !important;
  border-color: transparent !important;
  -webkit-box-shadow: 0  transparent !important ;
	-moz-box-shadow: 0 transparent !important;
	box-shadow: 0 transparent !important;
}
span.navTitle{
  position: absolute;
  top: 40%;
  left: 46%;
  font-family: KenyanCoffee-Light;
  font-size:18px;
}
ion-title.navTitle{
  font-family: KenyanCoffee-Light;
  font-size:35px !important;
}
.toolbar-title-md{
  padding-right:70px;
}
