<ion-menu id="authenticated" [content]="content">
    <ion-content class="side-bar">
        <ion-list class="sidebar">
            <ion-item class="sidebar"><img src="img/icon/cancel-music.svg" alt="cancel" class="cancel-icon" (click)="popMenuCtrl()" /></ion-item>
            <ion-item class="sidebar-header" >
                Map views and Lists
            </ion-item>
            <ion-item class="sidebar"  (click)="ShipsNearMe()">
              <i class="fa fa-ship sidebar" aria-hidden="true"></i> Ships Near Me
            </ion-item>
            <ion-item class="sidebar"  (click)="myFleet()">
              <i class="fa fa-ship sidebar" aria-hidden="true"></i> My Fleet
            </ion-item>
            <ion-item class="sidebar"  (click)="gotoDocuments()">
              <i class="fa fa-file sidebar" aria-hidden="true"></i> My Documents
            </ion-item>
            <ion-item class="sidebar"  (click)="gotoScreenshot()">
              <i class="fa fa-camera sidebar" aria-hidden="true"></i> Screenshot
            </ion-item>
            <ion-item class="sidebar"  (click)="gotoOtherMarineServices()">
              <i class="fa fa-ship sidebar" aria-hidden="true"></i> Other Marine Services
            </ion-item>
            <!-- <ion-item class="sidebar" (click)="gotoHome()">
              <i class="fa fa-home sidebar" aria-hidden="true"></i> Home
            </ion-item> -->
            <ion-item class="sidebar-header" >
              Tools
            </ion-item>
              <ion-item class="sidebar"  (click)="gotoProfile()">
             <i class="fa fa-user sidebar" aria-hidden="true"></i> Profile
            </ion-item>
            <ion-item class="sidebar"  (click)="gotoSettings()">
              <i class="fa fa-cogs sidebar" aria-hidden="true"></i> Settings
            </ion-item>
            <ion-item class="sidebar"  (click)="gotoCards()">
              <i class="fa fa-credit-card sidebar" aria-hidden="true"></i> My Cards
             </ion-item>
             <ion-item class="sidebar"  (click)="gotoFeedback()">
             <i class="fa fa-commenting sidebar" aria-hidden="true"></i> Feedback
            </ion-item>
            <!-- <ion-item class="sidebar"  (click)="gotoPackages()">
              <i class="fa fa-ship sidebar" aria-hidden="true"></i> Packages
            </ion-item> -->
            <ion-item class="sidebar"  (click)="gotoShippingOrders()">
                <i class="fa fa-ship sidebar" aria-hidden="true"></i> Packages
            </ion-item>
        </ion-list>
        <div class="menu-logout" (click)="logOut()">
            Log Out <i class="fa fa-sign-out menu-logout" aria-hidden="true"></i>
        </div>
    </ion-content>
</ion-menu>
<ion-menu id="unauthenticated" [content]="content">
    <ion-content class="side-bar">
        <ion-list class="sidebar">
            <ion-item class="sidebar"><img src="img/icon/cancel-music.svg" alt="cancel" class="cancel-icon" (click)="popMenuCtrl()" /></ion-item>
            <ion-item class="sidebar-header" >
                User Login
            </ion-item>
            <ion-item class="sidebar" (click)="GuestGotToHome()">
                <i class="fa fa-home sidebar" aria-hidden="true"></i>  Home
            </ion-item>
              <ion-item class="sidebar"  (click)="gotoLogin()">
                  <i class="fa fa-sign-in sidebar" aria-hidden="true"></i>  Login
            </ion-item>
            <ion-item class="sidebar"  (click)="gotoRegister()">
                <i class="fa fa-user-plus sidebar" aria-hidden="true"></i>  Register
            </ion-item>
             <ion-item class="sidebar"  (click)="gotoForgotPassword()">
                <i class="fa fa-unlock-alt sidebar" aria-hidden="true"></i>  Forgot Password
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
