ship-search-component {
  background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
}
.green-header{
  position: absolute;
  width:100%;
  background-image: linear-gradient(color($colors,Light-Green),color($colors,Dark-Green)) !important;
  padding-top:7%;
  padding-bottom:10px;
}
.ship-search{
  border:solid;
  border-width:1px;
  border-color:#DBDBDB;
  border-radius:10px;
  width:96%;
  margin-left:2%;
  margin-right:auto;
  padding:4px;
  padding-left:30px;
  font-family: GothamRnd-Book;
  color:#5B5B5B;
}
.icon-grey{
  color: #B7B7B7;
  font-size:18px;
}
.search-icon{
  position:absolute;
  top:47%;
  left:4%;
}
.cancel-icon{
  position:absolute;
  top:47%;
  right:5%;
}
.empty{
  margin-top:20%;
  width:100%;
}
.empty-txt{
  font-family: GothamRnd-Book;
  color: #B7B7B7;
}
.empty-img{
  width:80%;
  display: block;
  margin-left:auto;
  margin-right: auto;

}
.searchTitle{
  font-family: KenyanCoffee-Book;
  font-size:20px !important;
  float:left;
  color:black !important;
}
.search-country{
  float:right;
  font-size:20px !important;
  font-family: GothamRnd-Book;
  color: #5B5B5B;
}
.search-type{
  font-size:12px !important;
  font-family: GothamRnd-Book;
  color: #5B5B5B;
  float:left;
  text-align: left;
}
.green-fa-icon-round{
  color:#005345 !important;
  font-size:20px !important;
  background-color: #8ddacd !important;
  padding:6px;
  border-radius: 34px;
  margin-right:5px;
}
