<!-- Generated template for the ShipSearchComponent component -->
<div class="green-header">
  <i class="fa fa-search icon-grey search-icon" aria-hidden="true" (click)="SearchShips()"></i>
  <i class="fa fa-times-circle icon-grey cancel-icon" aria-hidden="true" (click)="dismissmodal()"></i>
  <input type="text" class="ship-search" placeholder="Ship" [(ngModel)]="Search" (keyup.enter)="SearchShips()" />
</div>
<div class="empty" *ngIf="emptyStatus">
  <img src="assets/icon/sad.svg" class="empty-img"/>
  <h2 class="text-center empty-txt">Ship Not Found</h2>
</div>
<div class="empty" *ngIf="!emptyStatus">
  <ion-list >
      <ion-item *ngFor="let SearchItem of SearchResult" (click)="GetShipInformation(SearchItem.SHIP_ID)" >
        <p class="searchTitle">{{SearchItem.SHIPNAME}}<br><span class="search-type">{{SearchItem.TYPE_NAME}}</span></p> <span class="search-country">{{SearchItem.CURRENT_PORT_COUNTRY}}</span>
      </ion-item>
  </ion-list>
</div>

