card-choice-component {
  background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
  opacity: 0.5;

  .close-button{
    color:black;
    background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
    opacity: 0.5;
    border:none;
  }
  .button-white{
    background-color:white;
  }
}
