<!-- Generated template for the CardChoiceComponent component -->
<button ion-button (click)="dismissmodal()" class="close-button" ><i class="fa fa-times close" aria-hidden="true"></i></button>

<ion-card>

  <ion-card-header>

      Select Card

  </ion-card-header>
  <ion-list *ngFor="let CardsKey of CardsKeys">

      <button ion-item id="{{CardsKey}}" (click)="payWithStoredCard({authorizationCode:Cards[CardsKey].authorization_code , email:Cards[CardsKey].customer_email , subscriptionCost:subscriptionCost})">

          <ion-icon ios="ios-card" md="md-card" item-start></ion-icon>

          {{Cards[CardsKey].last4}}

      </button>

    </ion-list>
  <ion-list>

    <button ion-item
    (click)="startLoader()"
    angular4-paystack
    [key]="'pk_test_d6e073b7cc8176b2181fcf14f01014dc5a122aff'"
    [email]="userEmail"
    [amount]="subscriptionCost"
    [ref]="refNo"
    [class]="'btn btn-primary'"
    (close)="paymentCancel()"
    (callback)="paySubscription($event)">

      <ion-icon ios="ios-card" md="md-card" item-start></ion-icon>

      New card

    </button>
  </ion-list>

</ion-card>
