work-through-modal {
  background-color:#CACAD9;
  text-align: center;
  color:#FFF;
  div.container{
    width:100%;
    height:100%;
    background-position: center;
  }
  .img1{

    background-image: url("../img/background/workThroughModalIMG/1200px-WOONA.jpg");

  }
  .img2{

    background-image: url("../img/background/workThroughModalIMG/anchor_handling_tugs(1).jpg");


  }
  .img3{

    background-image: url("../img/background/workThroughModalIMG/anchor_handling_tugs2.jpg");


  }

  .skip-button{
    margin-top:70%;
    background: #fff;
    border-radius: 25px;
    border:solid;
    border-color:#fff;
    color:black;
    font-family:GothamRnd-Medium;
    padding-left:60px;
    padding-right:60px;
    text-align: center;
  }
  .get-started{
    margin-top:70%;
    background: color($colors,Light-Green);
    border-radius: 25px;
    border:solid;
    border-color:color($colors,Light-Green);
    color:#FFF;
    font-family:GothamRnd-Medium;
    padding-left:60px;
    padding-right:60px;
    text-align: center;
  }
  .title{
    padding-top:25%;
    display:block;
    font-size: 50px !important;


  }
  p{
    font-family:GothamRnd-Light;
    padding:3%;
  }
  div.slide-button{
    background: #FFF;
    width: 15px;
    height: 3px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    margin:10px;
    display:inline-block;
  }
  div.active{
    opacity:1;
  }
  div.non-active{
    opacity:0.6;
  }
}
