<!-- Generated template for the WorkThroughModal component -->
<div class="container img1" [hidden]='slide1' on-swipe-right="changeSlideLeft()" on-swipe-left="changeSlideRight()">
  <span class="title chessmasterfont">Knots</span>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  <div>
    <div class="active slide-button" (click)="slideIcon1()"></div>
    <div class="non-active slide-button" (click)="slideIcon2()"></div>
    <div class="non-active slide-button" (click)="slideIcon3()"></div>
  </div>
  <button ion-button class="skip-button" (click)="dismissmodal()" >Skip</button>
</div>
<div class="container img2" [hidden]="slide2" on-swipe-right="changeSlideLeft()" on-swipe-left="changeSlideRight()">
    <span class="title chessmasterfont">Knots</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    <div>
      <div class="non-active slide-button" (click)="slideIcon1()"></div>
      <div class="active slide-button" (click)="slideIcon2()"></div>
      <div class="non-active slide-button" (click)="slideIcon3()"></div>
    </div>
    <button ion-button class="skip-button" (click)="dismissmodal()" >Skip</button>
  </div>
  <div class="container img3" [hidden]="slide3" on-swipe-right="changeSlideLeft()" on-swipe-left="changeSlideRight()">
      <span class="title chessmasterfont">Knots</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      <div>
        <div class="non-active slide-button" (click)="slideIcon1()"></div>
        <div class="non-active slide-button" (click)="slideIcon2()"></div>
        <div class="active slide-button" (click)="slideIcon3()"></div>
      </div>
      <button ion-button class="get-started" (click)="dismissmodal()" >Get Started</button>
    </div>
