companies-contact-info {
  background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
  opacity: 0.5;

  .close-button{
    color:black;
    background-image: linear-gradient(#DFDFDF,#ECECEC) !important;
    opacity: 0.5;
  }
  ion-card-header{
    font-family:KenyanCoffee-Bold !important;
    color:#4ABFB1;
    font-size:30px !important;
    text-align:center;
    padding:0 !important;
  }
  ion-card{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  ion-card-content{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  ion-item{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    border-bottom:solid !important;
    border-bottom-width:1px !important;
    border-bottom-color: #B7B7B7 !important;

  }
  ion-list{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  button.item-options{
    background-color: transparent !important;
    border:none !important;
    border-color:transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    border-bottom:solid !important;
    border-bottom-color:#D6D6D6!important;
    border-bottom-width:2px !important;
    font-family:KenyanCoffee-Book;
    font-size:18px !important;
  }

}
