<!-- Generated template for the CompaniesContactInfo component -->
<button ion-button (click)="dismissmodal()" class="close-button" ><i class="fa fa-times close" aria-hidden="true"></i></button>

<ion-card>
    <ion-card-header>
      {{companyName}}
    </ion-card-header>

    <ion-list>
      <div>
        <img src="{{companyLogo}}" alt="Logo" />
      </div>
      <button ion-item class="item-options">
        {{companyEmail}}
      </button>
      <button ion-item class="item-options">
        0{{companyPhoneNo}}
      </button>
      <button ion-item class="item-options">
        {{companyAddress}}
      </button>
      <button ion-item class="item-options">
        {{companyDescription}}
      </button>
    </ion-list>
  </ion-card>
