ship-preview {

  div.container{

    width:100%;
    height:100%;
    background-position: center;

  }
  .ship-preview-card{
    width:60%;
    margin-left:20%;
    padding:16px;
    margin-top:60%;
    font-size:16px;
    font-family: KenyanCoffee-Book;
    border-radius:8px;
  }
  h2{
    font-size:28px !important;
  }
  .btn{
    padding:10px;
    text-align:center;
    margin:5px;
    border-radius: 5px;
    font-family:GothamRnd-Book;
  }
  .text-grey{
    color:#B7B7B7;
  }
  .btn-light-green{
    background-color:#005345;
    color:#FFF;
  }
  .btn-dark-green{
    background-color:#4ABFB1;
    color:#FFF;
  }
}
