<!-- Generated template for the ShipPreview component -->
  <ion-card class="ship-preview-card text-center" >
    <h2>{{shipName}} <strong>{{Flag}}</strong></h2>
    <span class="text-grey">{{ShipType}}</span> <span class="text-grey">{{IMO}}</span>
    <br>
    <button class="btn btn-light-green" (click)=" GetShipInformation(ShipID)">View</button> <button class="btn btn-dark-green" (click)="dismissmodal()">Close</button>
  </ion-card>
